/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* css reset */
body, h1, h2, h3, h4, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* css reset end */

:root {
  --hd-pad-left: 80px;
  --main-bg: #e2e8f0;
  --card-bg: #fafafa;
  --btn-bg: #0ea5e9;
  --nav-bg: #38bdf8;
  --ff: 'Roboto', sans-serif;
  --box-shadow: 5px 5px 5px #d4d4d8;
  --main-font-clr: #334155;

}


body * {
  font-family: var(--ff);
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 15vh;
  height: 100vh;
}

.menu img,
.service img {
  max-width: 30px;
}

/* sidebar */

.sidebar {
  background-color: var(--nav-bg);
  grid-row: 1/3;
  grid-column: 1/2;
  display: grid;
  justify-content: center;
  color: white;
  font-size: 1.6rem;
  grid-template-rows: 150px 350px 600px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 100%;
}

.logo img {
  width: clamp(60px, 80px , 130px);
}

.logo > h1 {
  font-size: clamp(1rem, 1.7rem, 4rem);
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icons li{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  gap: 20px;
  font-weight: 900;
}

/* end sidebar */

/* header */

.header {
  grid-row: 1/2;
  grid-column: 2/4;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 70% 30%;
  width: 100%;  
  padding-top: 10px;
}

.search {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  display:flex;
  align-items :center;
  padding-left: var(--hd-pad-left);
}

.search > input {
  width: 80%;
  height: 40px;
  border-radius: 20px;
  background-color: var(--main-bg);
  padding-left: 10px;
}

.user-container {
  display: flex;
  align-items: center;
  width:100%;
  padding-left: var(--hd-pad-left)
}

.user-container > div * {
  padding: 3px;
}

.user-container > img {
  grid-column: 1/2;
  width: 90px;
  padding-bottom: 10px;
}

.search img {
  width: 40px;
}

.bell {
  width: 40px;
}

.avatar-small {
  width: 50px;
}

.top-right {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.top-right > p {
  font-size: 20px;
  font-weight: 500;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons > button {
  width: 28%;
  height: 45px;
  border-radius: 30px;
  background-color: var(--btn-bg);
  font-family: var(--ff);
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  border: none;
}
/* end header */

/* main */

.main {
  grid-row: 2/3;
  grid-column: 2/4;
  background-color: var(--main-bg);
  display: grid;
  grid-template-columns: repeat(2, 1fr) 0.8fr;
  padding: 20px;
}

.project {
  grid-column: 1/3;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.1fr;
  gap: 20px;
  height: 100%;
}

.project > h2 {
  padding-top: 30px;
  grid-column: 1/3;
}

.card {
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  padding: 20px;
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card--btn {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  color: gray;
}

.card--btn img{
  width: 40px;
}

.main-right {
  grid-row: 1/2;
  grid-column: 3/4;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding-left: 15px;
  gap: 30px;
}

.announcement {
  display: grid;
  grid-template-rows: 0.1fr;
  gap: 20px;
  height: 100%;
}

.announcement > h2 {
  padding-top: 30px;
  grid-column: 1/2;
}

.announcement > div {
  box-shadow: var(--box-shadow);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--card-bg);
}

hr {
  width:100%;
  border-top: 2px solid var(--main-bg);
}

.trending-container {
  box-shadow: var(--box-shadow);
  padding: 20px;
  border-radius: 20px;
  background-color: var(--card-bg);
}

.trending > h2 {
  padding: 20px;
}

.users {
  display: flex;
  gap: 10px;
  align-items: center;
}

.users > img {
  width: 100px;
}

.card--font-clr {
  color: var(--main-font-clr);
}


/* end main */